.head{
  background-color: black;
  padding: 5px
}
.h2{
  background-color: blue;
  padding: 8px
}
table{
  background-color: gold
}
.bnn{
  padding: 0px;
  border: 2px solid black;
  margin: 2px
}
.footer{
  display: block;
  background-color: black;
  padding: 5px;
}
.app{
  padding: 1px;
  border: 1px solid white;
  display: <display-inside>
}
.apk{
  text-decoration-color: white
}