.head{
  background-color: black
}
h1{
  background-color: red;
  padding: 5
}
button:hover{
  background-color: palevioletred;
}
button{
  background-color: yellow
}
p{
  color: red
}
.b{
  width: 95%;
  display: inline-block;
  border-radius: 50px;
  margin: 1rem 0;
}